---
export const prerender = false
import Button from '@/components/Button.astro'
import Card from '@/components/Card.astro'
import FormOptionsComponent from '@/components/form/FormOptionsComponent.astro'
import Section from '@/components/Section.astro'
import PageLayout from '@/layouts/BaseLayout.astro'
import Image from 'astro/components/Image.astro'

const meta = {
	description: 'Calculadora de compensación de árboles',
	title: 'EcoCompensa | Calculadora'
}

const formSteps = [
	{
		step: 1,
		title: 'Altura del árbol',
		subtitle: 'Rango de alturas en metros, según el crecimiento actual del árbol',
		options: [
			{ value: '1', label: 'Hasta 5 m (Valor: 1)' },
			{ value: '2', label: '5.01 a 10 m (Valor: 2)' },
			{ value: '3', label: '10.01 a 15 m (Valor: 3)' },
			{ value: '4', label: 'Más de 15 m (Valor: 4)' }
		]
	},
	{
		step: 2,
		title: 'Diámetro del tronco',
		subtitle: 'Medición en centímetros del tronco a 1.3 metros desde el suelo',
		options: [
			{ value: '1', label: '5 a 15 cm (Valor: 1)' },
			{ value: '2', label: '15.1 a 25 cm (Valor: 2)' },
			{ value: '3', label: '25.1 a 40 cm (Valor: 3)' },
			{ value: '4', label: 'Más de 40 cm (Valor: 4)' }
		]
	},
	{
		step: 3,
		title: 'Estado estructural',
		subtitle: 'Evaluación de la estabilidad y robustez del árbol',
		options: [
			{ value: '1', label: 'Irrecuperable (Valor: 1)' },
			{ value: '2', label: 'Susceptible de mejora (Valor: 2)' },
			{ value: '3', label: 'Buena (Valor: 3)' },
			{ value: '4', label: 'Muy buena (Valor: 4)' }
		]
	},
	{
		step: 4,
		title: 'Condición general del árbol',
		subtitle: 'Evaluación de la salud y vitalidad del árbol',
		options: [
			{ value: '1', label: 'Declinante severo (Valor: 1)' },
			{ value: '2', label: 'Declinante incipiente (Valor: 2)' },
			{ value: '3', label: 'Bueno (Valor: 3)' },
			{ value: '4', label: 'Muy bueno (Valor: 4)' }
		]
	},
	{
		step: 5,
		title: 'Expectativa de vida útil',
		subtitle: 'Años estimados de vida útil y generación de servicios ambientales',
		options: [
			{ value: '1', label: 'Hasta 5 años (Valor: 1)' },
			{ value: '2', label: '6 a 20 años (Valor: 2)' },
			{ value: '3', label: '21 a 40 años (Valor: 3)' },
			{ value: '4', label: 'Más de 40 años (Valor: 4)' }
		]
	},
	{
		step: 6,
		title: 'Presencia de otros árboles por longitud',
		subtitle: 'Cantidad de árboles presentes por cada 100 m a partir de su retiro',
		options: [
			{ value: '1', label: 'Más de 30 (Valor: 1)' },
			{ value: '2', label: '20 a 30 (Valor: 2)' },
			{ value: '3', label: '5 a 19 (Valor: 3)' },
			{ value: '4', label: 'Menos de 5 (Valor: 4)' }
		]
	},
	{
		step: 7,
		title: 'Presencia de otros árboles por superficie',
		subtitle: 'Cantidad de árboles presentes por cada hectárea a partir de su retiro',
		options: [
			{ value: '1', label: 'Más de 300 (Valor: 1)' },
			{ value: '2', label: '200 a 300 (Valor: 2)' },
			{ value: '3', label: '51 a 199 (Valor: 3)' },
			{ value: '4', label: '50 o menos (Valor: 4)' }
		]
	},
	{
		step: 8,
		title: 'Otros valores',
		subtitle: 'Evaluación estética, científica, histórica o sociocultural',
		options: [
			{ value: '1', label: 'Ninguno (Valor: 1)' },
			{ value: '2', label: 'Uno o dos de los valores (Valor: 2)' },
			{ value: '3', label: 'Tres de los valores (Valor: 3)' },
			{ value: '4', label: 'Cuatro de los valores (Valor: 4)' }
		]
	}
]
---

<PageLayout meta={meta}>
	<div class='flex w-full flex-col gap-8'>
		<div class=''>
			<Button title='Volver' href='/' style='button'>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					width='14'
					height='14'
					viewBox='0 0 24 24'
					slot='icon-before'
				>
					<path
						fill='currentColor'
						d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
					>
					</path>
				</svg>
			</Button>
		</div>

		<Section title='Factores y Valores a Considerar'>
			<Card
				subheading='Por favor, selecciona los factores que consideras relevantes para calcular la aproximación. Asegúrate de elegir los elementos adecuados antes de proceder con el cálculo.'
			/>
			<Card class='mx-auto flex w-full max-w-2xl flex-col'>
				<!-- Barra de progreso -->
				<div class='relative mb-6 h-2 w-full rounded bg-gray-300 dark:bg-gray-800'>
					<div
						id='progress-bar'
						class='h-2 rounded bg-gray-800 transition-all duration-300 dark:bg-gray-50'
						style='width: 0%;'
					>
					</div>
				</div>

				<!-- Contenedor del formulario -->
				<form id='arboles-formulario' class='flex flex-col space-y-2'>
					{formSteps.map((data) => <FormOptionsComponent {data} />)}

					<!-- Botones de navegación -->
					<div class='flex justify-between'>
						<button
							type='button'
							id='prevBtn'
							class='hidden rounded border-2 border-gray-200 bg-transparent px-4 py-2 text-gray-700 transition-all duration-300 hover:bg-gray-200 dark:text-gray-100 dark:hover:bg-gray-800'
							>Retroceder</button
						>
						<button
							type='button'
							id='nextBtn'
							class='btn-primary rounded border-2 border-gray-800 bg-white px-4 py-2 font-bold text-gray-950 transition-colors duration-300 hover:bg-gray-800 hover:text-gray-50 dark:border-gray-100 dark:bg-transparent dark:text-gray-100 dark:hover:bg-gray-100 dark:hover:text-gray-950'
							>Siguiente</button
						>
						<button
							type='submit'
							id='calculateBtn'
							class='btn-primary hidden rounded border-2 border-gray-800 bg-white px-4 py-2 font-bold text-gray-950 transition-colors duration-300 hover:bg-gray-800 hover:text-gray-50 dark:border-gray-100 dark:bg-transparent dark:text-gray-100 dark:hover:bg-gray-100 dark:hover:text-gray-950'
							>Calcular Compensación</button
						>
					</div>
				</form>
			</Card>
		</Section>

		<Section title='Resultados'>
			<Card heading='Compensación' subheading='Resultado de la compensación'>
				<div class='mt-4 grid w-full grid-cols-2'>
					<input type='radio' id='stats-tab' name='tab' class='hidden' checked />
					<label
						for='stats-tab'
						class='inline-block w-full rounded-ss-md border-2 bg-gray-50 p-3 text-center transition hover:border-gray-800 hover:bg-gray-800 hover:text-gray-50 dark:bg-transparent dark:hover:border-gray-100 dark:hover:bg-gray-100 dark:hover:text-gray-950'
					>
						Resultado
					</label>

					<input type='radio' id='about-tab' name='tab' class='hidden' />
					<label
						for='about-tab'
						class='inline-block w-full rounded-se-md border-2 bg-gray-50 p-3 text-center transition hover:border-gray-800 hover:bg-gray-800 hover:text-gray-50 dark:bg-transparent dark:hover:border-gray-100 dark:hover:bg-gray-100 dark:hover:text-gray-950'
					>
						Criterios
					</label>

					<!-- El contenido ocupa ambas columnas -->
					<div
						class='content col-span-2 flex min-h-[330px] flex-col items-center justify-center border-t-0 p-4'
					>
						<div class='respuesta'>
							<div
								class='response-error flex w-full flex-col items-center justify-center gap-4 p-8'
							>
								<Image
									src='/images/bonfire-svgrepo-com.svg'
									alt='Error'
									width='150'
									height='150'
									class='rounded-full border-8 border-gray-200 dark:border-gray-100'
								/>
								<p class='text-center text-2xl font-bold text-gray-900 dark:text-gray-100'>
									¡Ups! No has seleccionado ningún criterio.
								</p>
							</div>
						</div>
						<div class="criterios">
							<table class="table">
								<!-- Encabezado -->
								<thead class="table-head">
									<tr>
										<th class="table-cell">Puntos</th>
										<th class="table-cell">Cantidad de Árboles a Entregar</th>
										<th class="table-cell">Altura (m)</th>
										<th class="table-cell">Diámetro del Tronco (m)</th>
										<th class="table-cell">Diámetro de Copa (m)</th>
										<th class="table-cell">Tamaño de Cepellón (m)</th>
									</tr>
								</thead>
								<!-- Cuerpo -->
								<tbody>
									<tr class="table-row-odd">
										<td class="table-cell">7 a 12</td>
										<td class="table-cell">2</td>
										<td class="table-cell">4</td>
										<td class="table-cell">0.06</td>
										<td class="table-cell">0.8</td>
										<td class="table-cell">0.60 x 0.60 x 0.45</td>
									</tr>
									<tr class="table-row-even">
										<td class="table-cell">13 a 18</td>
										<td class="table-cell">4</td>
										<td class="table-cell">5</td>
										<td class="table-cell">0.075</td>
										<td class="table-cell">1.0</td>
										<td class="table-cell">0.75 x 0.75 x 0.56</td>
									</tr>
									<tr class="table-row-odd">
										<td class="table-cell">19 a 24</td>
										<td class="table-cell">8</td>
										<td class="table-cell">6</td>
										<td class="table-cell">0.09</td>
										<td class="table-cell">1.2</td>
										<td class="table-cell">0.90 x 0.90 x 0.67</td>
									</tr>
									<tr class="table-row-even">
										<td class="table-cell">25 a 28</td>
										<td class="table-cell">16</td>
										<td class="table-cell">8</td>
										<td class="table-cell">0.12</td>
										<td class="table-cell">1.6</td>
										<td class="table-cell">1.20 x 1.20 x 0.90</td>
									</tr>
								</tbody>
							</table>
						</div>
						
					</div>
				</div>
			</Card>
		</Section>
	</div>
</PageLayout>

<script>
	document.addEventListener('astro:page-load', () => {
		let currentStep = 1
		const totalSteps = document.querySelectorAll('.step').length
		const steps = document.querySelectorAll('.step') as NodeListOf<HTMLElement>
		const progressBar = document.getElementById('progress-bar') as HTMLDivElement
		const prevBtn = document.getElementById('prevBtn') as HTMLButtonElement
		const nextBtn = document.getElementById('nextBtn') as HTMLButtonElement
		const calculateBtn = document.getElementById('calculateBtn') as HTMLButtonElement
		const respuestaContainer = document.querySelector('.respuesta') as HTMLDivElement

		calculateBtn.addEventListener('click', (event) => {
			// Mostrar el contenedor de respuesta si está oculto
			if (respuestaContainer.classList.contains('hidden')) {
				respuestaContainer.classList.remove('hidden')
			}

			// Desplazarse al contenedor con la clase 'respuesta'
			respuestaContainer.scrollIntoView({ behavior: 'smooth' })
		})

		function showStep(step = 1) {
			steps.forEach((el, index) => {
				el.classList.toggle('hidden', index + 1 !== step)
			})

			// Maneja el estado de los botones
			prevBtn.style.display = step === 1 ? 'none' : 'inline-block'
			nextBtn.style.display = step === totalSteps ? 'none' : 'inline-block'
			calculateBtn.style.display = step === totalSteps ? 'inline-block' : 'none' // Mostrar "Calcular Compensación" solo en el último paso

			// Actualiza la barra de progreso
			const progressPercentage = ((step - 1) / (totalSteps - 1)) * 100
			progressBar.style.width = `${progressPercentage}%`
		}

		nextBtn?.addEventListener('click', () => {
			if (currentStep < totalSteps) {
				currentStep++
				showStep(currentStep)
			}
		})

		prevBtn?.addEventListener('click', () => {
			if (currentStep > 1) {
				currentStep--
				showStep(currentStep)
			}
		})

		// Mostrar el primer paso inicialmente
		showStep(currentStep)
	})
</script>

<script>
	document.addEventListener('astro:page-load', () => {
		const $campoRespuesta = document.querySelector('.respuesta') as HTMLDivElement

		const arbolesFormulario = document.getElementById('arboles-formulario') as HTMLFormElement
		arbolesFormulario.addEventListener('submit', function (event) {
			event.preventDefault()

			const data = arbolesFormulario.querySelectorAll(
				'input[type="radio"]:checked'
			) as NodeListOf<HTMLInputElement>

			let puntos = 0
			data.forEach((item) => {
				puntos += parseInt((item as HTMLInputElement).value)
				console.log((item as HTMLInputElement).value)
			})

			const respuestaProcesada = (puntos: number) => {
				const arboles = calcularArboles(puntos)

				const respuestaHTML = `
<div class='response-correct flex w-full flex-col items-center justify-center gap-0 p-8'>
	<p class="text-2xl font-bold text-gray-900 dark:text-gray-100 text-center">
		Con <span id="puntos" class="text-3xl font-semibold text-green-600 dark:text-green-400">0</span> puntos, Deberás Compensar con:
	</p>
	<p class="text-2xl font-bold text-gray-900 dark:text-gray-100 mt-4 text-center">
		<span id="numero-arboles" class="text-3xl font-semibold text-green-600 dark:text-green-400">0</span> árboles
	</p>
	<p class="text-lg text-gray-900 dark:text-gray-100 mt-4 text-center">
		¡Gracias por tu compromiso con el medio ambiente! Tu acción ayuda a reforestar el planeta.
	</p>
</div>
	`

				$campoRespuesta.innerHTML = respuestaHTML

				const puntosElemento = document.getElementById('puntos') as HTMLElement
				const numeroArboles = document.getElementById('numero-arboles') as HTMLElement
				setTimeout(() => {
					incrementarNumero(puntosElemento, puntos)
					incrementarNumero(numeroArboles, arboles)
				}, 400)
			}

			respuestaProcesada(puntos)
		})

		function calcularArboles(puntos: number): number {
			if (puntos >= 7 && puntos <= 12) {
				return 5
			} else if (puntos >= 13 && puntos <= 18) {
				return 10
			} else if (puntos >= 19 && puntos <= 24) {
				return 15
			} else if (puntos >= 25 && puntos <= 28) {
				return 20
			}
			return 0 // Por defecto
		}

		function incrementarNumero(elemento: HTMLElement, valorFinal: number) {
			let valorActual = 0 // Empezamos desde 0
			const incremento = Math.ceil(valorFinal / 100) // Dividimos el valor final entre 100 para un incremento más lento
			const intervalo = setInterval(() => {
				valorActual += incremento // Aumentamos el valor
				if (valorActual >= valorFinal) {
					valorActual = valorFinal // Nos aseguramos de no sobrepasar el valor final
					clearInterval(intervalo) // Detenemos el intervalo
				}
				// Actualizamos el texto del elemento
				elemento.textContent = valorActual.toString()
			}, 50) // Ejecutamos la función cada 50 ms para un efecto más lento
		}
	})
</script>

<style>
	.criterios {
		@apply overflow-auto;
	}

	.table {
		@apply w-full text-sm text-gray-700 mt-6 dark:text-gray-200;
	}

	.table-cell {
		@apply p-2 text-center dark:border-gray-600;
	}

	.table-head {
		@apply border-b-2 text-xs font-bold text-gray-900 dark:bg-transparent dark:text-gray-100;
	}
	
	input:checked + label {
		@apply border-gray-800 bg-gray-800 text-gray-50  dark:border-gray-100 dark:bg-gray-100 dark:text-gray-800;
	}

	/* Mostrar solo la respuesta activa */
	input#stats-tab:checked ~ .content .respuesta {
		display: block;
	}

	input#about-tab:checked ~ .content .criterios {
		display: block;
	}

	/* Ocultar inicialmente ambas secciones */
	.respuesta,
	.criterios {
		display: none;
		width: 100%;
	}
</style>
